---
import Layout from '../layouts/Layout.astro';
import NikeLogo from '../assets/svgs/NikeLogo.astro';
---

<Layout title="Nike Page.">
	<div>
		<header class="p-10">
			<NikeLogo />
		</header>
	</div>
</Layout>
