---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import NikeData from '../components/NikeData.astro';
import SelectOptions from '../components/SelectOptions.astro';
import DescriptionAndArrows from '../components/DescriptionAndArrows.astro';
---

<Layout title="Nike Page.">
	<div class="mx-auto">
		<Hero />
		<NikeData />
		<SelectOptions />
		<DescriptionAndArrows />
	</div>
</Layout>
