---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import NikeData from '../components/NikeData.astro';
import SelectOptions from '../components/SelectOptions.astro';
import DescriptionAndArrows from '../components/DescriptionAndArrows.astro';
import PlayLogo from '../assets/svgs/PlayLogo.astro';
---

<Layout title="Nike Page.">
	<div class="mx-auto">
		<Hero />
		<NikeData />
		<SelectOptions />
		<DescriptionAndArrows />
		<div class="flex justify-center">
			<p class="text-center text-white bottom-0 absolute flex items-center gap-2 cursor-pointer -mb-3">
				<PlayLogo /> 
				PLAY VIDEO
			</p>
		</div>
	</div>
</Layout>


<script>
	const btnRed = document.querySelector('.btn-red');
	const btnBlue = document.querySelector('.btn-blue');
	const btnCyan = document.querySelector('.btn-cyan');
	const nikeImg = document.getElementById('nike-img');

	btnRed?.addEventListener('click', () => {
		btnBlue?.classList.remove('border-2');
		btnCyan?.classList.remove('border-2');
		document.body.style.backgroundColor = '#AD010D';
		document.body.style.transition = 'background-color 0.5s';
		btnRed.classList.add('border-2');
		nikeImg?.setAttribute('src', '/nike-red.png');
	})

	btnBlue?.addEventListener('click', () => {
		btnRed?.classList.remove('border-2');
		btnCyan?.classList.remove('border-2');
		document.body.style.backgroundColor = '#0141D9';
		document.body.style.transition = 'background-color 0.5s';
		btnBlue.classList.add('border-2');
		nikeImg?.setAttribute('src', '/nike-blue.png');
	})

	btnCyan?.addEventListener('click', () => {
		btnRed?.classList.remove('border-2');
		btnBlue?.classList.remove('border-2');
		document.body.style.backgroundColor = '#3C919C';
		document.body.style.transition = 'background-color 0.5s';
		btnCyan.classList.add('border-2');
		nikeImg?.setAttribute('src', '/nike-cyan.png');
	})
</script>