---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import NikeData from '../components/NikeData.astro';
---

<Layout title="Nike Page.">
	<div class="mx-auto">
		<Hero />
		<NikeData />
	</div>
</Layout>
