---
import ArrowLeft from "../assets/svgs/ArrowLeft.astro";
import ArrowRight from "../assets/svgs/ArrowRight.astro";
---

<div class="absolute bottom-5 right-5 flex flex-col items-end">
    <p class="mb-2 w-64 text-white">
        The quality is excellent, packed reliably, and the color is a dream. The USS store is excellent. Thank you!!! We strive to earn and keep your trust.
    </p>
    <div class="flex space-x-2 w-full">
        <button class="hover:bg-gray-500 rounded-full">
            <ArrowLeft />
        </button>
        <button class="hover:bg-gray-500 rounded-full">
            <ArrowRight />
        </button>
    </div>
</div>