<div class="flex justify-center 2xl:mt-28 lg:mt-10">
    <div class="absolute flex items-center">
        <h1 class="font-ThunderBold text-[500px] text-white tracking-wide">NIKE</h1>
        <img src="/nike-blue.png" alt="Nike blue" class="absolute ml-[90px] lg:mt-[30px] 2xl:mt-[40px] m-14 w-[30rem]">
    </div>
</div>