<div class="absolute max-w-max lg:ml-8 lg:mt-4 text-white bottom-56 2xl:ml-56 2xl:mb-40">
  <h1 class="text-center font-sans text-3xl mb-8 font-bold">
    JORDAN 1 BLUE
  </h1>
  <p>RELEASE DATE</p>
  <p>2016-10-06</p>
  <p>COLOR WAY</p>
  <p>SAIL/STARFISH-BLACK</p>
</div>
