---
import OptionSizes from "./OptionSizes.astro";
---

<div class="absolute max-w-max ml-8 mt-4 text-white bottom-20 2xl:ml-56 2xl:mb-40">
    <h1 class="font-bold">SELECT SIZE (US)</h1>
    <OptionSizes size={8} />
    <OptionSizes size={8.5} />
    <OptionSizes size={9} />
    <OptionSizes size={9.5} />
    <OptionSizes size={10} />
    <br>
    <OptionSizes size={10.5} />
    <OptionSizes size={11} />
    <OptionSizes size={11.5} />
    <OptionSizes size={12} />
    <OptionSizes size={12.5} />
</div>

<div class="absolute max-w-max ml-8 text-white bottom-0 -mb-1 2xl:ml-56 2xl:mb-40">
    <h1 class="pb-2 font-bold">SELECT COLOR</h1>
    <div class="flex space-x-3">
        <div class="rounded-full bg-[#EA0111] w-8 h-8 border-solid border-white btn-red cursor-pointer">ㅤ</div>
        <div class="rounded-full bg-[#002B8F] w-8 h-8 border-solid border-2 border-white btn-blue cursor-pointer">ㅤ</div>
        <div class="rounded-full bg-[#00AEC5] w-8 h-8 border-solid border-white btn-cyan cursor-pointer">ㅤ</div>
    </div>
</div>